@charset 'utf-8';
@import "node_modules/bootstrap/scss/bootstrap";

.box-shadow-top {
    box-shadow: inset 0 6px 10px -6px C9C9C9;
    z-index: 1;
}

.menu {
    margin-left: 0;
    padding-top: 19px;
    padding-left: 65px;
    color: #888888;
    background-color: #FFFFFF;
    text-align: left;
    font-size: 20px;
    width: 180px;
    height: 100vh;
    border: transparent;
    box-shadow: 6px 0 10px -6px #C9C9C9;
    a {
        color: #888888;
        font-weight: lighter;
        text-decoration: none;
    }
    a:link {
        color: #888888;
        font-weight: lighter;
        text-decoration: none;
    }

    a:hover {
        color: #888888;
        font-weight: lighter;
        text-decoration: none;
    }

    a:focus {
        color: #a4cb09;
        text-decoration: none;
    }
}