@charset 'utf-8';
@import "node_modules/bootstrap/scss/bootstrap";

.box-shadow-top {
  box-shadow: inset 0 6px 10px -6px C9C9C9;
  z-index: 1;
}

.menu {
  margin-left: 0;
  padding-top: 19px;
  padding-left: 25px;
  background-color: #FFFFFF;
  text-align: left;
  font-size: 20px;
  width: 180px;
  height: 89.7vh;
  border: transparent;
  box-shadow: 6px 0 10px -6px #C9C9C9;
  
  p {
    font-weight: lighter;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  p:hover {
    cursor: pointer;
  }
  
  p:focus {
    outline: none;
  }

  #all-inside {
    margin-top: 1px;
    height: 9px;
    width: 9px;
    border: 2px solid;
    display: flex;
  }

  #all-outside {
    height: 15px;
    width: 15px;
    border: 2px dotted;
    display: flex;
    justify-content: space-around;
  }
   
  #text-all {
    margin-left: 25px;
  }

  #text-check {
    margin-left: 23px;
  }

  #text-trash {
    margin-left: 19px;
  }
}

.enabled {
  color: #a4cb09;
}

.disabled {
  color: #888888;
}