@charset 'utf-8';
@import "node_modules/bootstrap/scss/bootstrap";

.users {
  margin-top: -515px;
  margin-left: 235px;
  width: 77.5%;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px #e0e0e0;
}

.user {
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  border-top: 2px solid #e0e0e0;
  z-index: 1000;  
  display: flex;
  align-items: center;
  text-align: left;

  #image {
    margin-left: 30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  
  #name {
    width: 100px;
    border: transparent;
    margin-left: 25px;
    color: #2a3d50;
    font-size: 20px;
  }
  
  #username {
    width: 150px;
    margin-left: 40px;
    color: #a2a2a2;
    font-size: 17px;
  }
  
  #phone {
    width: 150px;
    margin-left: 40px;;
    color: #a2a2a2;
    font-size: 17px;
  }
  
  #location {
    width: 250px;
    margin-left: 40px;
    color: #a2a2a2;
    font-size: 17px;
  }
  
  #check {
    margin-left: 20px;
    height: 16px;
    width: 16px;
    border: transparent;
    filter: invert(60%);
  }

  #check:hover {
    cursor: pointer;
  }
  
  #trashcan {
    margin-left: 50px;
    height: 17px;
    width: 16px;
    border: transparent;
    filter: invert(70%);
  }

  #trashcan:hover {
    cursor: pointer;
  }
  
  #all-inside {
    margin-top: 1px ;
    height: 9px;
    width: 9px;
    border: 2px solid #a2a2a2;
  }
  
  #all-outside {
    margin-left: 20px;
    height: 15px;
    width: 15px;
    border: 2px dotted #a2a2a2;
    display: flex;
    justify-content: space-around;
  }

  #all-outside:hover {
    cursor: pointer;
  }


}

