@charset 'utf-8';
@import "node_modules/bootstrap/scss/bootstrap";

.users {
  margin-top: -520px;
  margin-left: 235px;
  width: 77.5%;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 2px #e0e0e0;
}

.user {
  height: 60px;
  width: 100%;
  background-color: #ffffff;
  border-top: 2px solid #e0e0e0;
  z-index: 1000;  
  display: flex;
  align-items: center;
  text-align: left;

  #image {
    margin-left: 30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
  
  #name {
    width: 80px;
    border: transparent;
    margin-left: 25px;
    color: #2a3d50;
    font-size: 20px;
  }
  
  #email {
    width: 250px;
    margin-left: 40px;
    color: #a2a2a2;
    font-size: 17px;
  }
  
  #phone {
    width: 120px;
    margin-left: 40px;;
    color: #a2a2a2;
    font-size: 17px;
  }
  
  #location {
    width: 235px;
    margin-left: 40px;
    color: #a2a2a2;
    font-size: 17px;
  }

  #buttons {
    margin-right: -20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #check {
    margin-left: 20px;
    border: transparent;
    fill: #a2a2a2;
  }

  #check:hover {
    cursor: pointer;
    fill: #a4cb09;
  }
  
  #trashcan {
    height: 17px;
    width: 16px;
    border: transparent;
    fill: #a2a2a2;
  }

  #trashcan:hover {
    cursor: pointer;
    fill: #a4cb09;

  }
  
  #all-inside {
    margin-top: 1px ;
    height: 9px;
    width: 9px;
    border: 2px solid #a2a2a2;
  }
  
  #all-outside {
    margin-left: 20px;
    height: 15px;
    width: 15px;
    border: 2px dotted #a2a2a2;
    display: flex;
    justify-content: space-around;
  }

  #all-outside:hover {
    cursor: pointer;
    margin-left: 20px;
    height: 15px;
    width: 15px;
    border: 2px dotted #a4cb09;
    display: flex;
    justify-content: space-around;
  }

  #all-inside:hover {
    margin-top: 1px ;
    height: 9px;
    width: 9px;
    border: 2px solid #a4cb09;
  }

  #data {
    width: 89%;
    border: transparent;
    display: flex;
    align-items: center;
  }

  #data:hover {
    cursor: pointer;
  }
}

